.navbar li{
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
    
 }
 .navbar{
     display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
 }
 .logo{
     height: 25vh;
     width:auto;
 }
 .gif{
   height: 70vh;
   width:auto;
 }
 .bodybox{
     display: flex;
     /* justify-content: space-between; */
     align-items: center;
     justify-content: center;
     padding: 15%;
     margin-top: -13%
 }
 #intro-paragraph{
     font-family: 'Raleway', sans-serif;
     font-size: 36px;
     width: 25%;
     height:auto
 
 }
 .navbar li:hover {
 color:#e36dc9
 }
 .about{
   display: flex;
   justify-content: space-evenly;
   align-items:flex-start;
   /* text-align: center; */
   margin-left: 25%;
   margin-right:10%;
  margin-bottom: 10%;
 
 } 
 .about h1{
  font-family: 'Montserrat', sans-serif;
  /* text-align: center; */
 }
 .aboutme{
   width: 100%;
   margin-right: 15%;
   font-family: 'Open Sans', sans-serif;
 }
 .skills{
   width:100%;
   font-family: 'Open Sans', sans-serif;
 }
 #skillsh1{
   text-align: center;
 }
 .projects,
 .container{
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 .projects h1 {
  font-family: 'Montserrat', sans-serif;
 }
 .button{
  
   padding: .35em 1.2em;
   border:.1em solid black;
   background-color: white;
   margin: 0 .3em .3em 0;
   border-radius: .12em;
   box-sizing: border-box;
   text-decoration: none;
   font-family: 'Montserrat', sans-serif;
   transition: all .2s;
   /* text-align:center; */
 }
 .button:hover{
   background-color: RGB(206, 209, 205);

 }

 .container{
   width: 35%;
   height: auto;
   text-align:center;
   display: flex;
   flex-direction: row;
   /* justify-content: space-around; */
 }
 .container1{
   margin-right: 5%;
 }
 .container p,
 li{
  font-family: 'Open Sans', sans-serif;
 }
 .projectlogo{
   height: 30vh;
   width: auto;
 }
 .projectlogo3{
  height: 35vh;
  width: auto;
}